.footer {
    margin-top: 80px;
    padding: 40px 20px;
    background: #2C3836;
    color: white;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer h3 {
    margin: 0;
}

.footer p {
    margin: 5px 0;
    opacity: 0.9;
}

.footer .bottom {
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.7;
}
