.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #beb9b9;
    border-bottom: 1px solid #222;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #0a0404;
    font-size: 14px;
}

.nav-links a:hover {
    color: #0a0404;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
    .nav-links {
        font-size: 12px;
        gap: 10px;
    }

    .logo {
        font-size: 14px;
    }
}
